# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
!Podfile
!Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# SPM
.build/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# AppCode
.idea/